@model CPTWorkouts.Models.AboutViewModel

@{
    ViewData["Title"] = "About Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.cshtml.css" />
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@3.2.0/dist/email.min.js"></script>
}

<section id="home">
    <div class="hero">
        <div class="hero-text">
            <h4>Engenharia Informática, Desenvolvimento Web 2023/2024</h4>
            <h4>Nº24705 Rúben Filipe Alcobia Dias</h4>
            <h4>Frameworks: Bootstrap, EntityFramework</h4>
            <h4>CSS: w3schools</h4>
        </div>
    </div>
</section>

<main>
    <!-- Additional content if needed -->
</main>
