/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black !important;
    color: white; /* Set default text color to white */
}

/* Section styles */
section#home {
    background-color: black;
    color: white;
    padding: 80px 0;
    text-align: center;
}

.hero {
    background-image: url("https://i.ibb.co/G92KCJQ/6k7wxryg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.hero-text {
    background-color: #b40219; /* Red box background color */
    height: 700px;
    display: flex;
    flex-direction: column; /* Ensures items stack vertically */
    justify-content: center;
    align-items: center;
    text-align: center; /* Centers text horizontally */
    padding: 20px;
}

    .hero-text h4 {
        font-style: italic;
        font-size: 24px; /* Adjust font size as needed */
        margin-bottom: 10px;
    }
