@model CPTWorkouts.Models.AboutViewModel

@{
    ViewData["Title"] = "About Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/css/index.cshtml.css" />
}
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@3.2.0/dist/email.min.js"></script>
}
<section id="home">
    <div class="hero">
        <div class="hero-text">
            <h1>És tu<br />Informações</h1>
        </div>
    </div>
</section>
<main>
    <h2 class="title">
        Hello i am rubennnn
    </h2>
</main>